<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
      /* CSS styling for the page */
      body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      h1 {
        color: #4CAF50;
        margin-top: 50px;
        font-size: 3em;
      }
      p {
        margin-top: 20px;
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>